# Ignore build output directory
**/build
**/doc

# Eclipse
**/bin
**/.classpath
**/.project
**/.settings/
*/.checkstyle
*/.eclipse-pmd
!_jdbld/.project
!_jdbld/.classpath
!_jdbld/.settings/

# VSCode
**/.vscode
/jdbld.log
